checklists/*
public_html/captures/_video2.html
public_html/captures/*.mp4
public_html/cfr/cfr*.*
public_html/charts/*
public_html/kml/*.kml
public_html/misc/*
public_html/myAccount/checklists/*
public_html/ol/*
public_html/pictures/*.jpg
public_html/ranch/*
public_html/temp/*
public_html/.vs
tmp/*
uploads/*
keys.txt
my.ini
php.ini
*.log
